.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: lightblue;
  /*个人简介*/
}
.aside .profile {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: lightblue;
}
.aside .profile .img-container {
  margin-top: 20px;
  height: 80px;
  text-align: center;
}
.main {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  min-height: 500px;
  /*如果容器中内容高度不够500，最低也有500，如果内容高度超过了500，那么以内容的高度为准*/
}
.main > .header {
  background-color: lightblue;
}
.breadcrumb {
  background-color: lightblue !important;
}
